<div class="hero">
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello,This is a simple tasklist</h1>
    <p class="lead">Made to learn node basics.</p>
    <hr class="my-4">
    <p>No express generator used.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Create Task</a>
  </div>
</div>
</div>
